#header{
	border: 3px solid black;
	height: 110px;
	text-align: center;
}

.btn_container{
	display: flex, 
	flex-flow: column;
}


.btn{
	 float: left;
     width: 32%;
     margin-right: 2%;
     padding: 20px;
     background: #eee;
     box-sizing: border-box;
     
}





#btn2:last-child {
     margin-right: 0;
}





.container{
	display: flex;
	
}
.player1 {
	border: 3px solid black;
	width: 50%;
	height: 400px;
	flex-wrap: wrap;
	text-align: center;
}

.player2 {
	border: 3px solid black;
	width: 50%;
	height: 400px;
	text-align: center;
}